<ng-container *transloco="let t">
  <td class="align-middle">{{ user().id }}</td>
  <td class="align-middle">
    <img class="avatar" [src]="user().avatar" alt="{{ user().firstName }} {{ user().lastName }}" />
  </td>
  <td class="align-middle">
    <span>{{ user().firstName }}</span>
  </td>
  <td class="align-middle">
    <span>{{ user().lastName }}</span>
  </td>
  <td class="align-middle">
    <span>{{ user().email }}</span>
  </td>
  <td class="align-middle text-end">
    <button
      class="btn btn-sm"
      [ngbTooltip]="t('users.table.actions.update')"
      [attr.aria-label]="t('users.table.actions.update')"
      (click)="updateUser.emit()"
    >
      <i class="fas fa-edit" aria-hidden="true"></i>
    </button>
    <button
      class="btn btn-sm"
      [ngbTooltip]="t('users.table.actions.delete')"
      [attr.aria-label]="t('users.table.actions.delete')"
      (click)="deleteUser.emit()"
    >
      <i class="fas fa-trash-alt" aria-hidden="true"></i>
    </button>
  </td>
</ng-container>
