@import 'https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap';

:host {
  .navbar-logo {
    width: 2rem;
  }

  .navbar-brand {
    font-family: 'Architects Daughter', cursive;
  }

  .flag-icon {
    height: 1rem;
  }

  .dropdown {
    .select-btn {
      min-width: 8rem;

      &::after {
        display: none;
      }

      i {
        margin-top: 0.25rem;
      }
    }

    &.show {
      .dropdown-toggle {
        i {
          transform: rotate(180deg);
          margin: 0;
        }
      }
    }
  }
}
