<ng-container *transloco="let t">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary" [attr.aria-label]="t('navigation.mainNavigation')">
    <div class="container-md">
      <div class="d-flex align-items-center gap-3">
        <a class="navbar-brand" routerLink="/home">
          <img class="navbar-logo" src="/images/logo.png" alt="" />
          {{ t('navigation.appName') }}
        </a>

        <div ngbDropdown>
          <button class="btn btn-light d-flex justify-content-between align-items-center select-btn btn-sm" ngbDropdownToggle>
            <div class="d-flex align-items-center gap-1">
              <img src="/images/flags/{{ activeLang() }}.png" alt="" class="flag-icon" />
              <span>{{ t('navigation.selectLanguage.' + activeLang()) }}</span>
            </div>
            <i class="fa fa-angle-down" aria-hidden="true"></i>
          </button>
          <div ngbDropdownMenu>
            @for (lang of otherLangs(); track lang.code) {
              <button class="d-flex align-items-center gap-1" ngbDropdownItem (click)="changeLocale(lang.code)">
                <img src="/images/flags/{{ lang.code }}.png" alt="" class="flag-icon" />
                <span>{{ t(lang.labelKey) }}</span>
              </button>
            }
          </div>
        </div>
      </div>

      <button
        class="navbar-toggler"
        aria-controls="navbarNav"
        [attr.aria-label]="t('navigation.toggleNavigation')"
        [attr.aria-expanded]="!isCollapsed()"
        (click)="isCollapsed.set(!isCollapsed())"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNav" [ngbCollapse]="isCollapsed()">
        <ul class="navbar-nav">
          @for (item of navItems; track item.label) {
            <li class="nav-item d-flex justify-content-end">
              <a
                class="nav-link"
                routerLinkActive="active"
                [class.disabled]="item.disabled"
                [routerLink]="item.disabled ? null : item.route"
              >
                {{ t(item.label) }}
              </a>
            </li>
          }
        </ul>
      </div>
    </div>
  </nav>
</ng-container>
