$weight: 1;
$table-bg-scale: 1%;
$primary: #44001a;
$secondary: #b15b5b;
$modal-md: 576px;
$fs-base: 18px;
$tooltip-max-width: 300px;
$dropdown-min-width: 8rem;
$dropdown-padding-y: 0.25rem;
$dropdown-item-padding-x: 0.5rem;
