$weight: 1;
$table-bg-scale: 1%;
$primary: #44001a;
$secondary: #b15b5b;
$modal-md: 576px;
$fs-base: clamp(1rem, 0.5vw + 0.9rem, 1.125rem);
$tooltip-max-width: 300px;
$dropdown-min-width: 8rem;
$dropdown-padding-y: 0.25rem;
$dropdown-item-padding-x: 0.5rem;
$navbar-dark-disabled-color: rgb(255 255 255 / 50.2%);
$navbar-dark-color: rgb(255 255 255 / 60%);
